.tasksHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.tasksHeader div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tasksHeader div span {
  background-color: var(--gray-400);
  border-radius: 999px;
  padding: 2px 8px;
  font-size: 0.75rem;
  font-weight: bold;
}

.createdTasks strong {
  color: var(--blue-300);
}

.doneTasks strong {
  color: var(--purple-300);
}

.taskList {
  margin: 1.5rem 0px 1.5rem;
}

.emptyTasks {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  gap: 1rem;

  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.emptyTasks > p {
  color: var(--gray-300);
  line-height: 1.4;

  text-align: center;
}

.emptyTasks strong {
  display: block;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

footer > div {
  background-color: var(--gray-500);
  padding: 1rem;
  border: 1px solid var(--gray-400);
  border-radius: 99999px;
  flex: 1;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer > div button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--gray-300);
  transition: color .2s;
}

footer > div button:hover {
  color: var(--gray-200);
}

footer > div button.selected {
  color: var(--purple-300);
  font-weight: bold;
}

@media (max-width: 576px) {
  .tasksHeader {
    margin-top: 1.5rem;
  }

  footer > div {
    max-width: 75%;
  }
}

@media (max-width: 480px) {
  .taskList,
  .emptyTasks {
    margin: 1.5rem 0 2.5rem;
  }

  footer > div {
    max-width: 100%;
  }
}